<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeNaviWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CodeNaviWPF.Properties.Settings>
            <setting name="ExcludedExtensions" serializeAs="String">
                <value>.exe;.pdb;.dll;.zip;.cache;.suo;.resources;.baml;.pyc</value>
            </setting>
            <setting name="ExcludedDirectories" serializeAs="String">
                <value>.hg;.git;.svn</value>
            </setting>
            <setting name="EditorFont" serializeAs="String">
                <value>Courier New, 9.75pt</value>
            </setting>
        </CodeNaviWPF.Properties.Settings>
    </userSettings>
</configuration>